#entry_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#entry__content-edit-mode {
    width: 100%;       /* Makes the textarea take the full width of its parent container */
    height: 150px;     /* Adjust the height as needed */
    padding: 10px;     /* Adds some padding inside the textarea */
    border: 1px solid #ccc; /* Adds a border to the textarea */
    border-radius: 4px; /* Optional: rounds the corners of the textarea */
    font-size: 16px;   /* Adjust the font size as needed */
    line-height: 1.5;  /* Adjust line height for better readability */
    margin: 10px 0;    /* Adds some margin around the textarea */
    resize: vertical;  /* Allows the user to resize the textarea vertically */
    overflow: auto;    /* Adds a scrollbar if the text overflows */
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/* CSS */
#entry__footer-save-button{
    background-color: #2ea44f;
    color: #fff;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.entry__footer-button {
  appearance: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.entry__footer-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#entry__footer-save-button:hover {
  background-color: #2c974b;
}

#entry__footer-cancel-button:hover {
  background-color: #2c974b;
}

#entry__footer-save-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

#entry__footer-cancel-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

#entry__footer-save-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

#entry__footer-save-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.alert {
    width: 100%;
    min-height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-top: 5px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da; /* Light red */
    border-color: #f5c6cb;     /* Slightly darker red */
    color: #721c24;

}


/* Loading circle */
/*
    <div class="progress">
        <div class="color"></div>
    </div>
*/

.progress{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 5px solid #f3f3f3;
    border-radius: 5%;

    max-height: 35px;
    max-width: 150px;

    overflow: hidden;
}
.progress .color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3cd0ff;
    width: 0px;
    height: 100%;
    border-radius: inherit;
    animation: progress 3s infinite linear;
}

.progress .color .text {
    margin: 0 0 0 0;
    font-weight: bold;
}
@keyframes progress {
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};