.plus__container {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

.plus {
    --t:2px;   /* Thickness */
    --l:20px;  /* size of the symbol */
    --s:5px;  /* space around the symbol */
    --c1:#fff; /* Plus color*/
    --c2:#000; /* background color*/

    width:var(--l);
    height:var(--l);
    padding:var(--s);

    background:
        linear-gradient(var(--c1) 0 0) content-box,
        linear-gradient(var(--c1) 0 0) content-box,
        var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;

    border-radius:50%;
}

.line {
  width: 20px; /* Line width */
  height: 2px; /* Line thickness */
  background-color: #000; /* Line color */
  margin: 0 10px; /* Adjust spacing around the symbol */
}

.show-more__modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dim or blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more__modal-backdrop .entry .entry__content {
    height: auto;
    max-height: none;
    overflow: visible;
    margin: 0 auto;
}
