<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>

    <script type="module" src="{{url_for('static', filename='/js/search_entries.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='/js/edit_note.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/render.js/')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/editing_note.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/deleting_note.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/components/navigation-bar.css')}}" />
</head>
<body>
    {% include '/components/navigation-bar.html' %}

    <main class="main">
        <section>
            <h1 class="main__title">
            {% if current_user.is_authenticated %}
                Add new entry {{ current_user.username }}
            {% else %}
                Add new entry
            {% endif %}
            </h1>

            <form class="form" method="POST" action="{{ url_for('edit.add') }}">
                {{ form.hidden_tag() }}
                <p class="form__input">
                    {{ form.content.label(class="form__label") }}
                    {{ form.content(class="form__textarea") }}
                    <!-- <label for="entry" class="form__label">Entry contents:</label>
                    <textarea name="content" id="entry" class="form__textarea"></textarea> -->
                </p>

                {{ form.submit(class="form__submit", type="submit", value="Add Entry") }}
                <!-- <button type="submit" class="form__submit">Add entry</button> -->
            </form>
        </section>
        <section>
            <h1>Recent Posts</h1>
            <search>
                <form action="./search/">
                    <input type="search" id="search_field" name="q" placeholder="Search..."/>
                </form>
            </search>
            <div id="searchResults">
                {% for entry in entries %}
                    <article class="entry" id="{{ entry[3] }}">
                        <div class="entry__header">
                            <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                            <time class="entry__date" datetime="{{ entry[1] }}">· {{ entry[2] }}</time>
                        </div>

                        <p class="entry__content">
                            {{ entry[0] }}
                        </p>

                        <div class="entry__footer">
                            <a href="#" class="entry__footer-edit">✎</a>
                            <a href="#" class="entry__footer-remove">✕</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item">Made by Isak</a>
                <a class="footer__item">Check out my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item">Recent</a>
                    <a class="footer__item">Calender</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item">About</a>
                    <a class="footer__item">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>