<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>


    <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/threads.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/components/navigation-bar.css')}}" />
</head>
<body>
    {% include '/components/navigation-bar.html' %}

    <main class="main">
        <section>
            <div class="quote">
                <p class="quote__content">{{ quote.content }}</p>
                <p class="quote__author">-{{ quote.author }}</p>
            </div>
        </section>

        <section>
            <article class="create-thread">
                <div class="create-thread__left">
                    <img src="{{ url_for('static', filename='/text-bubbles.png')}}" class="create-thread__icon">
                    <p class="create-thread__text">✕</p>
                </div>
                <div class="create-thread__right">
                    <div class="create-thread__divider"></div>

                    <div class="create-thread__content">
                        <p class="create-thread__content-text">
                            Create New Thread <span class="create-thread__content-text-check">✔</span>
                        </p>
                    </div>
                </div>
            </article>

            <h1 class="user-threads-title">Your Threads</h1>

            {% for thread in threads %}
            <div class="thread">
                <div class="thread__header">
                    <h2 class="thread__title">{{ thread.title }}</h2>
                    <p class="thread__description">{{ thread.description }}</p>
                </div>
                <div class="thread__content">
                    <p>{{ thread.content }}</p>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item">Made by Isak</a>
                <a class="footer__item">Check out my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item">Recent</a>
                    <a class="footer__item">Calender</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item">About</a>
                    <a class="footer__item">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>